    // Цвет для основного текста
    $primary-color: #fff

    // Цвет для border у кубиков
    $cube-border: #4E5B73

    // Цвет для тенюшки у кубиков
    $cube-border-shadow: rgba(0, 0, 0, 0.14)

    // Цвет для фона странички
    $body-backgroud: #404A5C

    // Цвет для border у icon-zap 😳
    $zap-border: #d13636

    // Цвет тенюшки для текста subtitle
    $subtitle-text-shadow: rgba(0, 0, 0, 0.2)